* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  overflow-x: hidden;
  @media screen and (min-width: 1024px) {
    overflow: initial;
  }
}

body {
  position: relative;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: #000000;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

input {
  outline: none;
  border: none;
  background: none;
  color: #fff;
}
ul,
li {
  list-style: none;
}
.df {
  display: flex;
}

.f-ai-c {
  align-items: center;
}

.f-ai-fe {
  align-items: flex-end;
}

.f-ai-fs {
  align-items: flex-start;
}

.f-jc-c {
  justify-content: center;
}

.f-jc-sb {
  justify-content: space-between;
}

.f-fd-r {
  flex-direction: row;
}
.f-fd-c {
  flex-direction: column;
}
